<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BOM-EVENT学习笔记-百度网盘-玩转文件夹框选功能</title>
  <script>
    /**
     * 功能要求：
     *   1.新建文件夹，点击新建文件夹
     *   2.全选
     *   3.框选
     * 相关功能：
     *   - 原生JS实现文件夹创建功能
     *   - 文件的选中操作功能
     *   - 全选、全不选功能
     *   - 框选操作功能
     * 涉及知识点：
     *   - 原生DOM：创建元素，删除元素
     *   - 原生EVENT：获取鼠标位置，事件委托，拖拽，碰撞检测
     */
  </script>
</head>
<body>
</body>
</html>
