<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BOM - 拖拽原理</title>
  <style>
    #div1{width: 100px;height: 100px;background: red;position: absolute;}
  </style>
</head>
<body>
  这是一段文字。
  <div id="div1"></div>
  <div style="width: 100px;height: 100px;background: blue;position: absolute;top: 300px;left: 300px;"></div>
  <script>
    window.onload = function(){
      /**
       * 拖拽原理
       * onmousedown: 选择元素
       * onmousemove: 移动元素
       * onmouseup: 释放元素
       */
      var oDiv = document.getElementById('div1');

      oDiv.onmousedown = function(ev){
        var ev = ev || event;
        var disX = ev.clientX - this.offsetLeft;
        var disY = ev.clientY - this.offsetTop;

        // 设置全局捕获 兼容IE
        // 设置全局捕获，当给一个元素设置全局捕获以后，那么这个元素就会监听后续发生的所有事件，当有事件发生时，就会被当前设置了全局捕获的元素触发
        /*
        IE：有，并且有效果
        FireFox：有，但是没有效果
        Chrome：没有，报错
         */
        if(oDiv.setCapture){
          oDiv.setCapture();
        }

        /*
        当鼠标移动过快时，鼠标会移出div区域，div的onmousemove事件就不会被执行
        解决方案：给document加onmousemove事件，不要加到div上
         */
        document.onmousemove = function(ev){
          var ev = ev || event;
          oDiv.style.left = ev.clientX - disX + 'px';
          oDiv.style.top = ev.clientY - disY + 'px';
        }

        /*
        当移动到被另一个更高层级的元素（此例子中div2）后面时，onmouseup事件就不会被执行
        解决方案：给document加onmouseup事件，不要加到div上
         */
        document.onmouseup = function(){
          document.onmousemove = document.onmouseup = null;
          // 这里若不令document.onmouseup = null;则继续按下鼠标还会执行document.onmouseup事件

          // 释放全局捕获 releaseCapture();
          if(oDiv.releaseCapture){
            oDiv.releaseCapture();
          }
        }

        /**
         * 拖拽的问题及解决方法
         * 1.拖拽的时候，如果有文字被选中，会产生问题
         *   原因：当鼠标按下时，如果页面中有文字被选中，会触发浏览器默认的拖拽文字的效果
         *   解决：
         *       标准下：阻止默认行为
         *       非标准IE：全局捕获  setCapture()
         * 阻止onmousedown的默认行为，在onmousedown的事件函数中return false;
         */
        return false;
      }
    }
  </script>
</body>
</html>
