<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BOM - event事件对象和clientX,clientY</title>
  <style>
  #div1{width: 100px;height: 100px;background: red;position: absolute;}
  </style>
</head>
<body style="height: 2000px;">
  <div id="div1"></div>
  <script>
    window.onload = function(){
      // onmousemove: 当鼠标在一个元素上移动时触发
      // 触发频率不是像素，而是间隔时间，在一个指定的时间内（很短），如果鼠标的位置和上一次的位置发生了变化，那么就会触发一次

      var i = 0;
      var oDiv = document.getElementById('div1');
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;

      document.onmousemove = function(ev){
        document.title = i++;

        var ev = ev || event;

        oDiv.style.left = ev.clientX + 'px';
        oDiv.style.top = ev.clientY + scrollTop + 'px';

      }
    }
  </script>
</body>
</html>
