<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style media="screen">
    
  </style>
</head>
<body>
  <div class="btn001">001</div>
  <div class="btn002">002</div>
  <div class="btn003">003</div>
  <div class="btn004">004</div>
  <div class="btn005">005</div>
  <div class="btn006">006</div>
  <div class="btn007">007</div>
  <div class="btn008">008</div>
  <div class="btn009">009</div>
  <div class="btn010">010</div>
</body>
</html>
